:root {
  --background-color: #ffffff;
  --nav-color: rgb(40, 30, 10);
  --text-color1: #1f1f1f;
  --text-color2: #384959;

  color: var(--text-color1);
  background: var(--background-color);
  color-scheme: light;
}

body {
  margin: 0;
  padding: 0;
}
